{% load static %}
<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shikoyatlar</title>
    <link rel="stylesheet" href="/shikoyat/static/css/home.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="/shikoyat/static/images/234.jpg" alt="Shikoyatlar Logo">
        </div>
        <div class="nav-links">
            <a href="#">Dashboard</a>
            <a href="#">Yangiliklar</a>
            <a href="#">Shikoyatlar</a>
        </div>
    </div>
    <main>
        <div class="main-content">
            <p class="description">
                Shikoyat sayti odatda foydalanuvchilar, mijozlar yoki fuqarolar tomonidan turli xil muammolar, xizmatlar
                bilan bog'liq shikoyatlar, takliflar va fikr-mulohazalarni bildirish uchun mo'ljallangan platformadir.
                Bunday saytlar turli sohalar bo'yicha xizmat ko'rsatadi.
            </p>
            <div class="complaint-box">
                <img src="/shikoyat/static/images/123.jpg" alt="Complaint Image">
                <button class="complaint-button">Shikoyat qoldirish</button>
            </div>
        </div>
    </main>
    <div class="footer">
        <p>telefon: +998 20 007 27 91</p>
        <div class="footer-icons">
            <img src="/shikoyat/static/images/345.jpg " alt="Telegram">
            <img src="/shikoyat/static/images/456.jpg" alt="Whatsapp">
        </div>
    </div>
</body>

</html>