<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-wrapper">
        <div class="header">
            <div class="logo">
                <img src="./images/234.jpg" alt="shikoyatlar">
            </div>
        </div>
        <h1>your Phone Number</h1>
        <p>Please confirm your country code and enter your phone number</p>

        <div class="country-selector">
            <span>Uzbekistan</span>
        </div>
        <div class="phone-input">
            <input type="text" value="+998" readonly>
            <input type="text" placeholder="-- --- -- --">
        </div>
        <button type="submit">yuborish</button>

        <a href="#" class="quick-login">Quick log in using QR code</a>
    </div>
</body>
</html>
